html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after { box-sizing: inherit; }

body {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100%;
  margin: 0 auto;
  padding: var(--gutter);
  background: var(--color--background);

  color: var(--color--text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overscroll-behavior: none;
  overflow-wrap: break-word;

  @include mobile {
    overscroll-behavior: auto;
    padding: var(--gutter) calc(2 * var(--gutter));
  }
}
