body[data-template=directory] {
  main {
    padding-top: calc(var(--font-size) * var(--line-height) + var(--gutter));
  }

  .entries {
    list-style: none;
    padding: 0;
    margin-top: calc(2 * var(--gutter));
  }

  .entry {
    position: relative;
    margin: 0.5em 0;

    &.is-locked:not(:hover) {
      opacity: 0.2;
    }

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.is-directory a {
      font-weight: 600;
    }

    .description {
      font-size: var(--font-size--small);
    }
  }
}
