body[data-template=document] {
  header[role=main] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-family--monospace);
    font-size: var(--font-size--small);
    color: var(--color--dim);
  }

  #go-parent, #go-top {
    @include easing(120ms, color);
    text-decoration: none;
    &:not(:hover) {
      color: var(--color--dim);
    }
  }

  #go-top {
    float: right;
    font-size: var(--font-size);
    margin-bottom: var(--gutter);
  }
}
