.discuss {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 2em 0;
  border-radius: 5px;

  font-size: var(--font-size--small);
  font-family: var(--font-family--monospace);
  color: var(--color--background);
  background: var(--color--text);

  &__entries {
    list-style: none;
    padding: 0;
    margin: 0;

    padding: var(--gutter);
    height: 30em;
    overflow-y: scroll;
  }

  &__entry {
    white-space: pre-line;

    &:first-child { margin-top: -1em; }
    &[data-author]::before {
      content: attr(data-author);
      color: var(--color);
      display: block;
      font-family: var(--font-family);
      margin-top: 1em;
      padding: 0.15em 0;
      text-transform: lowercase;
      font-variant: small-caps;
    }

    &[data-author=''] {
      opacity: 0.4;
      font-style: italic;
    }

    a {
      color: #a5d6ff;
    }

    img {
      margin: 0.5em 0 0 0;
    }
  }

  form {
    display: flex;
    border-top: 1px solid var(--color--border);
  }

  form.is-disabled {
    visibility: hidden;
  }

  input, textarea, label {
    @include reset-button;
    padding: var(--gutter);
    flex: 1;
    width: 100%;
    resize: none;
  }

  label,
  input[name=author] {
    font-family: var(--font-family);
    font-variant: small-caps;
    text-transform: lowercase;
  }

  label {
    flex: 0;
    width: fit-content;
    padding-right: 0;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color);
    &:empty::after {
      content: attr(placeholder);
    }
  }

  input[type=submit] {
    flex: 0;
    cursor: pointer;
  }

  form:not(.has-author) textarea,
  form.has-author input[name=author],
  form:not(.has-author) input[type=submit],
  form.has-author textarea:placeholder-shown + input[type=submit] {
    display: none;
  }
}
